#theBody {
  margin: 0;
  overflow: hidden;
  background-color: #afdeff;
}

#myCanvas {
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 12px;
  margin: 1rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

#startButton {
  background-color: #e3f2fd;
  font-weight: 500;
  width: 100px;
  height: 50px;
  border-radius: 24px;

  margin: 1rem;
}
